<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Footer</title>
</head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<body>
    <div class="miga padding-top_35">
        <div class="container">
            <ol class="breadcrumb">
    <footer class="section footer-classic context-dark bg-image " style="background: #01A9DB;">
        <div class="container ">
          <br>
              <font color="#ffffff"><h2 class="text-center">Aspectos legales - <strong>x-one</strong></h2></font>
            <br>
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
                <p>X-one es un producto de Latin Fintech, empresa registrada en la UIF de la Superintendencia de Banca, Seguros y AFP.</p>
                <!-- Rights-->
                <p class="rights"><span>©  </span><span class="copyright-year">2019</span><span> </span><span>X-one</span><span>. </span><span>Todos los derechos Reservados.</span></p>
              </div>
            </div>
            <div class="col-md-4">
              <h5>Contactos</h5>
              <dl class="contact-list">
                <dt>Dirección:</dt>
                <dd>Av. Miraflores #121</dd>
              </dl>
              <dl class="contact-list">
                <dt>email:</dt>
                <dd><a href="mailto:#">abc@x-one.com</a></dd>
              </dl>
              <dl class="contact-list">
                <dt>Telefonos:</dt>
                <dd><a href="tel:#">955 632514</a> <span> o </span> <a href="tel:#">966 362514</a>
                </dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3">
              <h5>Documentos</h5>
              <ul class="nav-list">
                <li><a href="#">Política de privacidad</a></li>
                <li><a href="#">Libro de reclamaciones</a></li>
                <li><a href="#">Términos y condiciones</a></li>
                <li><a href="#">Mapa del Sitio</a></li>
                
              </ul>
            </div>
          </div>
        </div>
        <div class="text-center center-block">
              <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fab fa-facebook-square fa-3x social"></i></a> 
	            <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fab fa-twitter-square fa-3x social"></i></a>
	            <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fab fa-google-plus-square fa-3x social"></i></a>
	            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
      </footer>
    </ol>
  </div>
</div>
  
</body>
</html>
