<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pasos</title>
</head>
<body>
    <input type="checkbox" id="cerrar">
		<label for="cerrar" id="btn-cerrar">X</label>
		<div class="modal">
			<div class="contenido">
				<h2>Visita nuestro blog</h2>
				<img src="http://lorempixel.com/200/200" alt="">
			</div>
		</div>
        <div class="miga padding-top_35">
                <div class="container">
                    <ol class=" mb-5">                        
                          <mat-horizontal-stepper [linear]="isLinear" #stepper>
                            <mat-step [stepControl]="firstFormGroup">
                              <form [formGroup]="firstFormGroup">
                                <ng-template matStepLabel>Paso 1: Datos Personales</ng-template>
                                <form class="example-form">
                                  <!--REGISTRO DE USUARIOS-->
                                  <H4><b style="color:#0040FF">DATOS PERSONALES</b></H4>
                                  <hr size="10px" color="#0040FF" />
                                    <table class="example-full-width" width= "85%" cellspacing="10" cellpadding="10">
                                        <tr>
                                            <td>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Nombre" [(ngModel)]="usuario.nombre" [formControl]="nombreFormControl">
                                                   <mat-error *ngIf="nombreFormControl.hasError('required')">
                                                      Nombre es <strong>necesario</strong>
                                                    </mat-error>
                                                  </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Apellido Paterno" [(ngModel)]="usuario.apellido_paterno" [formControl]="ap_paternoFormControl">
                                                   <mat-error *ngIf="ap_paternoFormControl.hasError('required')">
                                                      Apellido Paterno es <strong>necesario</strong>
                                                    </mat-error>
                                                  </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Apellido Materno" [(ngModel)]="usuario.apellido_materno" [formControl]="ap_maternoFormControl">
                                                   <mat-error *ngIf="ap_maternoFormControl.hasError('required')">
                                                      Apellido materno es <strong>necesario</strong>
                                                    </mat-error>
                                                  </mat-form-field>
                                            </td>
                                         </tr>
                                   </table>
                                    <table class="example-full-width" width= "85%" cellspacing="10" cellpadding="10">
                                        <tr>
                                          <td>
                                              <mat-form-field class="example-full-width"  hintLabel="Max 9 caracteres">
                                                  <input matInput #celular maxlength="9" type="number"   placeholder="Celular" [(ngModel)]="usuario.celular" [formControl]="celularFormControl">
                                                  <mat-hint align="end">{{celular.value?.length || 0}}/9</mat-hint>
                                                  <mat-error *ngIf="celularFormControl.hasError('required')">
                                                    Número de celular es <strong>necesario</strong>
                                                  </mat-error>
                                                </mat-form-field>
                                          </td>
                                          <td>
                                              <mat-form-field class="example-full-width"  hintLabel="Max 8 caracteres">
                                                  <input  matInput #dni maxlength="8" type="number" placeholder="DNI" [(ngModel)]="usuario.dni" [formControl]="dniFormControl">
                                                  <mat-hint align="end">{{dni.value?.length || 0}}/8</mat-hint>
                                                  <mat-error *ngIf="dniFormControl.hasError('required')">
                                                  DNI es <strong>necesario</strong>
                                                  </mat-error>
                                                </mat-form-field>
                                          </td>
                                          <td>
                                              <div  [formGroup]="passwordGroup">
                                                  <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Password" type="password" required [(ngModel)]="usuario.clave"
                                                    formControlName="password" >
                                                    <mat-error *ngIf="passwordGroup.get('password').hasError('required')">
                                                      Password es <strong>necesario</strong>
                                                    </mat-error>                                              
                                                  </mat-form-field>
                                              </div>
                                          </td>
                                        </tr>
                                    </table>
                                      <table  width= "85%" cellspacing="10" cellpadding="10">
                                          <td>
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Dirección" [(ngModel)]="usuario.direccion" [formControl]="direccionFormControl">
                                                 <mat-error *ngIf="direccionFormControl.hasError('required')">
                                                    Dirección es <strong>necesario</strong>
                                                  </mat-error>
                                                </mat-form-field>
                                        </td>
                                          <br>
                                        <td >
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Email" [(ngModel)]="usuario.email"  [formControl]="emailFormControl">
                                                <mat-error *ngIf="emailFormControl.hasError('pattern')">
                                                 Por favor, introduce una dirección de correo electrónico válida
                                                </mat-error>
                                                <mat-error *ngIf="emailFormControl.hasError('required')">
                                                  Email es <strong>necesario</strong>
                                                </mat-error>
                                              </mat-form-field>
                                        </td>
                                      </table>                                                               
                              </form>
                              <mat-checkbox><a (click)="openDialog()" >Terminos y Condiciones</a></mat-checkbox>
                                   
                              </form>
                            </mat-step>
                            <mat-step [stepControl]="secondFormGroup">
                              <form [formGroup]="secondFormGroup">
                                <ng-template matStepLabel>Paso 2: Aprobación</ng-template>
                                <mat-form-field>
                                  <input matInput placeholder="Address" formControlName="secondCtrl" required>
                                </mat-form-field>
                                <div>
                                  <button mat-button matStepperPrevious>Back</button>
                                  <button mat-button matStepperNext>Next</button>
                                </div>
                              </form>
                            </mat-step>
                            <mat-step>
                              <ng-template matStepLabel>Paso 3: Desembolso y Firma</ng-template>
                              You are now done.
                              <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button (click)="stepper.reset()">Reset</button>
                              </div>
                            </mat-step>
                          </mat-horizontal-stepper>
                           
                                         
                                         <form name="form1" method="post" action="mipagina.htm"> 
                 
                                             <p> 
                                                 <button  class="btn btn-primary" style="margin: 10px"  (click)="altaUsuario()"> AGREGAR </button> 
                                                 
                                                 <button class="btn btn-primary"  (click)="editarUsuario()"> MODIFICAR </button> 
                                             </p>                                       
                                           </form>                      
                            
                    </ol>
                </div>
        </div>
       
                            
                                
                             
                          
  
                    <div align="center">
                            <h1>LISTA DE USUARIOS REGISTRADOS</h1>
                            <table border="1" *ngIf="hayRegistros(); else sin">
                              <tr>
                                <td>ID</td>
                                <td>NOMBRE</td>
                                <td>APELLIDO PATERNO</td>
                                <td>APELLIDO MATERNO</td>
                                <td>TELEFONO</td>
                                <td>DNI</td>
                                <td>EMAIL</td>
                                <td>DIRECCIÓN</td>
                                <td>CLAVE</td>
                                <td>BORRAR</td>
                                <td>SELECCIONAR</td>
                              </tr>
                              <tr *ngFor="let usuario of usuarios">
                                <td> {{usuario.idUsuario }} </td>
                                <td> {{usuario.nombre }} </td>
                                <td> {{usuario.apellido_paterno }} </td>
                                <td> {{usuario.apellido_materno }} </td>
                                <td> {{usuario.celular }} </td>
                                <td> {{usuario.dni }} </td>
                                <td> {{usuario.email }} </td>
                                <td> {{usuario.direccion }} </td>
                                <td> {{usuario.clave }} </td>
                                <td> <button   class="btn btn-danger" (click)="bajaUsuario(usuario.idUsuario)"> Borrar </button> </td>
                                <td> <button   class="btn btn-primary" (click)="seleccionarUsuario(usuario.idUsuario)"> Seleccionar </button> </td>
                              </tr>
                            </table>
                             <br>
                            <ng-template #sin>
                              <p>No hay usuarios registrados.</p>
                            </ng-template>
                    </div>
                    
                           
</body>
</html>