<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pasos</title>
</head>
<body>
        <div class="miga padding-top_35">
                <div class="container">
                    <ol class=" mb-5">
                        <mat-horizontal-stepper>
                            <mat-step label="Paso 1: Datos Personales">
                                <div class="container">
                                    <form class="relative form-group" id="" name="" method="post">
                                       <font color="blue"><h1 class="title-page">Datos Personales</h1></font>
                                    </form>
                                </div>                     
                               <br>                  
                           
                            </mat-step>
                            <mat-step label="Paso 2: Aprobación">
                                <div class="container">
                                    <form class="relative form-group" id="" name="" method="post">
                                       <font color="blue"><h1 class="title-page">Aprobación</h1></font>
                                    </form>
                                </div> 
                            </mat-step>
                            <mat-step label="Paso 3: Desembolso y Firma">
                                <div class="container">
                                    <form class="relative form-group" id="" name="" method="post">
                                       <font color="blue"><h1 class="title-page">Desembolso y Firma</h1></font>
                                    </form>
                                </div> 
                              </mat-step>
                          </mat-horizontal-stepper>                         
                            
                    </ol>
                </div>
        </div>
       

        <div>
                               <p>
                                 <mat-form-field appearance="outline" >
                                     <mat-label>Nombres:</mat-label>
                                     <input matInput placeholder="Ingrese Su Nombre" type="text" [(ngModel)]="usuario.nombre" >
                                     <mat-hint><b>Nombres Completos</b> </mat-hint>
                                   </mat-form-field>
                                 </p>
                                 <p>
                                     <mat-form-field appearance="outline" >
                                         <mat-label>Telefono:</mat-label>
                                         <input matInput placeholder="Ingrese Su Número de Telefono" type="tel" [(ngModel)]="usuario.telefono">
                                         <mat-hint><b>úmero de Telefono</b></mat-hint>
                                       </mat-form-field>
                                     </p>
                                     <p>
                                         <mat-form-field appearance="outline" >
                                             <mat-label>Email:</mat-label>
                                             <input matInput placeholder="Ingrese Su Email"  type="text" [(ngModel)]="usuario.email">
                                             <mat-hint><b>Número de Telefono</b></mat-hint>
                                           </mat-form-field>
                                         </p>
                                         <button mat-button (click)="openDialog()">Open dialog</button>
                                         
                                         <form name="form1" method="post" action="mipagina.htm"> 
                 
                                             <p> 
                                                 <button  class="btn btn-primary" style="margin: 10px"  (click)="altaUsuario()"> AGREGAR </button> 
                                                 
                                                 <button class="btn btn-primary"  (click)="editarUsuario()"> MODIFICAR </button> 
                                             </p>                                       
                                           </form>
                           </div>
                           <div>
                              <p> Nombre: <input type="text" [(ngModel)]="usuario.nombre" /> </p>
                              <p> Ap. Paterno: <input type="text" [(ngModel)]="usuario.apellido_paterno" /> </p>
                              <p> Ap. materno: <input type="text" [(ngModel)]="usuario.apellido_materno" /> </p>
                              <p> celular: <input type="text" [(ngModel)]="usuario.celular" /> </p>
                              <p> DNI: <input type="text" [(ngModel)]="usuario.dni" /> </p>
                              <p> Email: <input type="text" [(ngModel)]="usuario.email" /> </p>
                              <p> Direccion: <input type="text" [(ngModel)]="usuario.direccion" /> </p>
                              <p> clave: <input type="number" [(ngModel)]="usuario.clave" /> </p>
                              <p> 
                                <button (click)="altaUsuario()"> AGREGAR </button> 
                                <button (click)="editarUsuario()"> MODIFICAR </button> 
                              </p>
                            </div>
                          
  
                    <div align="center">
                            <h1>LISTA DE USUARIOS REGISTRADOS</h1>
                            <table border="1" *ngIf="hayRegistros(); else sin">
                              <tr>
                                <td>ID</td>
                                <td>NOMBRE</td>
                                <td>APELLIDO PATERNO</td>
                                <td>APELLIDO MATERNO</td>
                                <td>TELEFONO</td>
                                <td>DNI</td>
                                <td>EMAIL</td>
                                <td>DIRECCIÓN</td>
                                <td>CLAVE</td>
                                <td>BORRAR</td>
                                <td>SELECCIONAR</td>
                              </tr>
                              <tr *ngFor="let usuario of usuarios">
                                <td> {{usuario.idUsuario }} </td>
                                <td> {{usuario.nombre }} </td>
                                <td> {{usuario.apellido_paterno }} </td>
                                <td> {{usuario.apellido_materno }} </td>
                                <td> {{usuario.celular }} </td>
                                <td> {{usuario.dni }} </td>
                                <td> {{usuario.email }} </td>
                                <td> {{usuario.direccion }} </td>
                                <td> {{usuario.clave }} </td>
                                <td> <button   class="btn btn-danger" (click)="bajaUsuario(usuario.idUsuario)"> Borrar </button> </td>
                                <td> <button   class="btn btn-primary" (click)="seleccionarUsuario(usuario.idUsuario)"> Seleccionar </button> </td>
                              </tr>
                            </table>
                             <br>
                            <ng-template #sin>
                              <p>No hay usuarios registrados.</p>
                            </ng-template>
                    </div>
                   
</body>
</html>