<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <main role="main">
                <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="miga padding-top_35">
                    <div class="container">
                        <ol class="breadcrumb mb-5">
                              <li><a title="Ir al inicio" href="inicio">Inicio/</a></li>
                              <li class="active">Contáctanos</li>
                        </ol>
                    </div>
            </div>
                <section class="datos-personales">
                       <div class="container">
                            <form class="relative form-group" id="" name="" method="post">
                               <font color="blue"><h1 class="title-page">Contáctanos</h1></font>
                            </form>
                        </div>
                </section>
        
                <div class="miga padding-top_35">
                        <div class="container">
                            <ol class="breadcrumb mb-5">
                                    <fieldset>
                                            <div id="bloque-1">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-2 form-group">
                                                        <label for="nombre">Nombre</label>
                                                    </div>
                                                    <div class="col-md-5 form-group">
                                                        <input autofocus="" autocomplete="off" required="" type="text"
                                                               class="normal form-control" name="nombre" value=""
                                                               tabindex="10" size="110">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-2 form-group">
                                                        <label for="email">E-mail</label>
                                                    </div>
                                                    <div class="col-md-5 form-group">
                                                        <input autocomplete="off" required="" type="email" class="normal form-control"
                                                               name="email" value="" tabindex="20" size="110">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-2 form-group">
                                                        <label for="motivo_consulta"  size="110">Motivo de consulta</label>
                                                    </div>
                                                    <div class="col-md-5 form-group">
                                                        <select required="" autocomplete="off" class="form-control" name="motivo_consulta"
                                                                tabindex="30">
                                                            <option value="" disabled="" selected="">Seleccione</option>
                                                            <option value="Requisitos para acceder a un préstamo">Requisitos para acceder a
                                                                un préstamo
                                                            </option>
                                                            <option value="Conocer el estado de mi solicitud actual">Conocer el estado de mi
                                                                solicitud actual
                                                            </option>
                                                            <option value="Conocer los lugares de pago de tu cuota">Conocer los lugares de
                                                                pago de tu cuota
                                                            </option>
                                                            <option value="Otras consultas">Otras consultas</option>
                                                        </select>
                    
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-2 form-group">
                                                        <label for="mensaje">Mensaje</label>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="col-md-7 form-group">
                                                        <textarea required="" autocomplete="off" class="form-control" name="mensaje"
                                                                  tabindex="40" rows="4" maxlength="500"
                                                                  minlength="10"  size="110"></textarea>
                                                    </div>
                                                </div>
                                                <p><a class="btn btn-primary btn-lg" href="#" role="button">Enviar &raquo;</a></p>
                                            </div>
                                        </fieldset>
                            </ol>
                        </div>
                </div>
                
        </main>
        <hr>
        <footer class="container"  >
                <p align="center">&copy; Company 2017-2019</p>
        </footer>
          
    
</body>
</html>



