<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nosotros</title>
</head>
<body>  
    <div class="miga padding-top_35">
        <div class="container">
            <ol class="breadcrumb mb-5" >
                    <section class="cnt-form-datos como-funciona">
                            <div class="bg__light bg-calculos">
                                <div class="container">
                                    <div class="calculos-top">
                                        <form class="modificar-credito modificar-datos " method="POST" action="#" >
                                            <input type="hidden" name="_token" value="#">
                                            <div class="row">
                                                <div class="col-md-4 text-center">
                                                    <h5 class="h6 cuotas t-cuota">¿Cuánto quieres?</h5>
                                                    <div class="calculator">
                                                        <a title="Disminuir monto"  id="minus_cuanto_quieres" (click)="Disminuir_monto()" ><span  style=" color: #2E64FE;"><i class="fas fa-minus-circle fa-1x"></i></span></a>
                                                        <input readonly="" type="text" name="cuanto_quieres" id="cuanto_quieres" class="large"  [(ngModel)]="incrementar"
                                                               value="">
                                                        <a title="Aumentar monto" id="plus_cuanto_quieres" (click)="Incrementar_monto()" ><span  style="color: #2E64FE;"><i class="fas fa-plus-circle fa-1x"></i></span></a>
                                                    </div>
                                                </div>
                        
                                                <div class="col-md-4 text-center">
                                                    <h5 class="h6 cuotas t-cuota">¿Cuántas cuotas?</h5>
                                                    <div class="calculator">
                                                        <a title="Disminuir una cuota"  id="minus_como_pagas" (click)="Disminuir_cuotas()" ><samp  style="color: #2E64FE;"><i class="fas fa-minus-circle fa-1x"></i></samp></a>
                                                        <input readonly="" class="large" name="nro_cuotas_sol" id="como_pagas" type="text" [(ngModel)]="como_pagas"
                                                               value=""/>
                                                        <a title="Aumentar una cuota"  id="plus_como_pagas" (click)="Incrementar_cuotas()"><span  style="color: #2E64FE;"><i class="fas fa-plus-circle fa-1x"></i></span></a>
                                                    </div>
                                                </div>
                        
                                                <div class="col-md-2 text-center">
                                                    <div class="inner">
                                                            <h3 id="texto_cuotas" class="h6 cuotas t-cuota">Cuota mensual</h3>
                                                            <h5><b>S/. {{monto_pagar}} </b></h5>
                                                            <p class="valor">*Valor referencial</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 text-center ">
                                                  <button  type="submit" class="btn btn-primary btn-lg  font-weight-bold colo"><span>¡Lo Quiero!</span></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="datos-calculos">
                                            <p class="ast"><br>
                                                <strong>* Tasa Efectiva Mensual: </strong> <strong class="tem_int_com"></strong><strong>%</strong>.
                                                TCEA de <span class="valor tcea_sin_igv"></span>% y primer vencimiento
                                                el 17/03/2019 (lo podrás modificar más adelante).
                                                Desembolso en 1 hora durante <strong>horario de oficina.</strong></p>
                                    </div>
                                </div>
                            </div>
                        </section>
            </ol>
        </div>
    </div>

    <div class="miga padding-top_35">
        <div class="container">
            <ol class="breadcrumb mb-5">
                  <li><a title="Ir al inicio" href="inicio">Inicio/</a></li>
                  <li class="active">Nosotros</li>
            </ol>
        </div>
    </div>
    <section class="contenido">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <font color="#0080FF"><h1 class="title-page">Nosotros</h1></font>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <p>
                        <em>
                            X-one es un producto de Latin Fintech, una empresa peruana registrada en la UIF (Unidad de Inteligencia Financiera (UIF) de la SBS (Superintendencia de Banca, Seguros y AFP) que brinda préstamos de una manera más rápida, eficiente y amigable que la banca tradicional. Nos apoyamos en el uso de la tecnología para brindar a nuestros clientes una experiencia más placentera, sin papeleos ni trámites engorrosos. Estamos convencidos de que realizar operaciones financieras debería ser tan fácil como revisar tu Facebook, mirar un video en Youtube, o simplemente navegar por Internet.
                        </em>
                    </p>
                    <font color="#0080FF"><h3>Qué nos caracteriza</h3></font>
                    <ul class="list-punto separar-top2">
                        <li>
                            Innovación: Otorgamos préstamos personales de una manera rápida, segura y eficaz. Esto es posible gracias a nuestro potente algoritmo crediticio y al uso de tecnología de punta. Nuestra equipo está comprometido en brindar una experiencia de usuario que sobrepase las expectativas de nuestros clientes.
                        </li>
                        <li>
                            Responsabilidad: No sobreendeudamos a nuestros clientes y respetamos que un porcentaje máximo de sus ingresos sea para asumir deudas. Toda la información es transparente y no hay información importante escondida al pie de una página. No fomentamos la prolongación de las deudas sino el pago de cuotas que no afecte las finanzas personales de nuestros clientes.
                        </li>
                        <li>
                            Diferencia: Estamos transformando la forma como acceder a préstamos. No más necesidad de ir al banco, firmar decenas de documentos, sacar fotocopias, llevar avales y regresar porque al funcionario se le olvidó un trámite. Con nosotros, la aplicación es en línea, la respuesta en segundos y el abono en menos de una hora.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
      
</body>
</html>