<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Encabezado</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-bold">
          <FONT FACE="impact" SIZE=6 COLOR="#0080FF">|</FONT>
          <FONT FACE="impact" SIZE=6 COLOR="#000000">X-ONE</FONT>
          <FONT FACE="impact" SIZE=6 COLOR="#0080FF">|</FONT>
          <!-- <img src="assets/imagen/logo-x-one.png" >--> 
          <a class="p-2 text-dark"  [routerLink]="['contacto']"><span style="color: bold;">
              <i class="fas fa-phone"></i> </span> 01-2658951
          </a>
          <a class="p-2 text-dark"  [routerLink]="['contacto']"> <span style="color:bold">
              <i class="far fa-envelope"></i></span> Contactos           
          </a>
        </h5>
    <nav class="navbar navbar-fixed-top my-2 my-md-0 mr-md-3 font-weight-bold " >
      <a class="p-2 text-dark" [routerLink]="['inicio']">Inicio</a>
      <a class="p-2 text-dark" [routerLink]="['como-funciona']">Cómo Funciona</a>
      <a class="p-2 text-dark" [routerLink]="['nosotros']">Nosotros</a>
      <a class="p-2 text-dark" [routerLink]="['blog']">Blog</a>
      <a class="p-2 text-dark" [routerLink]="['ayuda']">Ayuda</a>
    </nav>
    <a class="btn btn-outline-primary font-weight-bold " [routerLink]="['login']"><i class="far fa-user"></i>  Mi Cuenta</a>  
    </div> 
</body>
</html>








  