

details {
  border-color: #878d99;
  color: rgba(255, 255, 255, 0.9);
  background: #878d99;
  border: 2px solid;
  cursor: pointer;
  transition:   0.3s;
  border-radius: 4px;
  min-height: 48px;
  max-height: 60px;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: rotate(0.1deg);
          transform: rotate(0.1deg);
  transition: all 0.3s;
}

details ::-webkit-details-marker {
  display: none;
}
details + details {
  margin-top: 10px;
}
details p {
  color: #151515;
  line-height: 1.7;
  margin: 10px 0 0;
  padding: 0 20px 15px;
  background: #fefefe;

}
details.primary {
  border-color: #409eff;
  color: rgba(255, 255, 255, 0.9);
  background: #409eff;
}
details.primary:hover {
  border-color: #409eff;
  color: rgba(255, 255, 255, 0.6);
}
details.primary:active {
  color: rgba(255, 255, 255, 0.9);
  border-color: #0d84ff;
}

details.square {
  border-radius: 5px;
}
details[open] {
  transition: all 0.6s;
  min-height: 100px;
  max-height: 200px;
}

summary {
  outline: none;
  font-size: 16px;
  padding: 13px;
  font-weight: bold;
  color: aliceblue;
}
summary:selection {
  background: transparent;
}
summary:after {
  margin-top: 2px;
  content: "➕";
  float: left;
  margin-right: 11px;
  text-align: center;
  font-size: 11px;
}
[open] summary:after {
  padding: 0 0 12px 0;
  content: "➖";
}
























































