<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ayuda</title>
</head>
<body>
    <div class="miga padding-top_35">
        <div class="container">
            <ol class="breadcrumb mb-5">
                  <li><a title="Ir al inicio" href="inicio">Inicio /</a></li>
                  <li class="active">&nbsp;Ayuda</li>
            </ol>
        </div>
    </div>       
    <div class="container">
        <div class="col-xs-12 ">
            <font color="#0080FF"><h1 class="title-page">Ayuda</h1></font>
        </div>
        
        <details class="primary square">
            <summary>¿Cuáles son los requisitos para solicitar un préstamo?</summary>
          <p>Ser peruano(a) mayor de 21 años, tener DNI vigente, correo electrónico propio
              activo, número de celular activo a nombre del titular y cuenta de ahorros en
              Soles en Interbank, BBVA Continental o BCP.</p>
        </details>
        <details class="primary square">
            <summary>¿Cómo puedo contactarme con x-one?</summary>
            <p>Teléfono: 01-6409990 (Lunes a Viernes de 9am a 7pm) <br/>
              <a routerLink="/contacto" routerLinkActive="active" [routerLink]="['contacto']">CONTÁCTANOS</a></p>
                         
        </details>
        <details class="primary square">
            <summary>¿Cómo solicito un préstamo?</summary>
            <p>Solo ingresa a <a title="Hola x-one" href="#">http://www.holaandy.com</a>,
              elige el importe del préstamo y el número de cuotas, completa el formulario y
              listo. En cuestión de segundos sabrás si tu préstamo es aprobado.</p>
        </details>
        <details class="primary square">
            <summary>¿Cuál es el horario de atención de las solicitudes de préstamo?</summary>
            <p>Por el momento las solicitudes de préstamo para clientes nuevos son aceptadas de
                Lunes a Domingo entre las 7am y las 11.59pm. Si eres cliente recurrente, puedes
                aplicar las 24 horas del día los 7 días de la semana.
                <br><b>Recuerda que los desembolsos se realizan en horario de oficina de Lunes a Viernes
                    de 9am a 6pm.</b></p>
        </details>
        <details class="primary square">
            <summary>¿Puedo incluir los datos de mi familiar en la solicitud?</summary>
            <p>No, toda solicitud es PERSONAL. De ser aprobada, la transferencia se realizará a
                tu cuenta bancaria. Si esta no está a tu nombre, la transferencia NO podrá ser
                efectuada.</p>
        </details>
        <details class="primary square">
            <summary>¿Qué tasa de interés cobra x-one?</summary>
            <p> Las tasas de interés variarán de acuerdo a tu historial crediticio en el sistema
                financiero y tu comportamiento crediticio con x-one. Al momento de iniciar tu
                solicitud se muestra una <b>TCEA</b> (Tasa de Costo Efectiva Anual) <b>referencial</b>,
                después de aprobada la solicitud de préstamo puedes verificar la <b>TCEA final​
                    aplicada a tu préstamo antes de firmarla.</b>
                  <br>En ningún momento la tasa de interés será mayor a la permitida por el BCR.
            </p>
        </details>
        <details class="primary square">
            <summary>¿Qué comisiones cobra x-one?</summary>
            <p>En la fecha del desembolso del crédito x-one cobrará una Comisión de Cierre al
                Cliente, la cual tiene por finalidad cubrir los gastos y costos incurridos por
                Latin Fintech en el análisis crediticio del Cliente y demás asociados al
                otorgamiento del Crédito. La Comisión de Cierre será prorrateada en cuantas
                cuotas tenga el Crédito y pagadas conjuntamente con el Principal de acuerdo al
                cronograma de pago incluído en la Hoja Resumen.</p>
        </details>
        <details class="primary square">
            <summary>¿Cómo sé si mi préstamo fue aprobado?</summary>
            <p>Una vez completada tu solicitud, mantente unos segundos en línea para saber si
                fue aprobado.</p>
        </details>
        <details class="primary square">
            <summary>¿Cómo recibo el préstamo?</summary>
            <p>El desembolso se realiza en el lapso de una hora (en horario de oficina) a TU
                CUENTA DE AHORROS PERSONAL en Soles en Interbank, BBVA Continental o BCP.</p>
        </details>
        
        <details class="primary square">
            <summary>¿Puedo prorrogar el pago de la cuota?</summary>
            <p>  El Cliente podrá prorrogar cualquier Fecha de Pago de la Cuota, para lo cual
                deberá pagar, antes de la Fecha de Pago de la Cuota que desea prorrogar, el 25%
                del capital (para préstamos a 1 Cuota) o 20% del capital (para préstamos a más
                de 1 cuota), el íntegro de los intereses compensatorios, la prorrata de la
                Comisión de Cierre correspondiente a la Cuota que desea prorrogar, las
                penalidades por pago tardío (de ser el caso), y los impuestos (IGV)
                correspondientes. Esta prórroga incurrirá en una comisión de refinanciamiento o
                reestructuración, que incluye los gastos y costos asumidos por Latin Fintech en
                la reevaluación crediticia del Cliente. La información asociada a la prórroga de
                cuota o pago mínimo se encuentra en la Hoja Resumen que se adjunta al Contrato
                de Crédito.</p>
        </details>
        <details class="primary square">
            <summary>¿Puede un tercero pagar mi préstamo?</summary>
            <p>Sí. Solamente tendría que indicar tu DNI.</p>
        </details>
        <details class="primary square">
            <summary>¿Puedo pagar antes de tiempo una o más cuotas?</summary>
            <p>Sí. Puedes prepagar tu préstamo o pagar todas las cuotas pendientes de pago.</p>
        </details>
        <details class="primary square">
            <summary>¿Puedo solicitar un préstamo si ya tengo otro vigente?</summary>
            <p>No. Deberás cancelar completamente tu préstamo vigente antes de solicitar uno
                nuevo.</p>
        </details>
        <details class="primary square">
            <summary>¿Cómo sé si mi pago fue recibido correctamente?</summary>
            <p>Puedes ingresar a la sección "Mi Cuenta" en www.holaandy.com para revisar tu
                historial de pago. Recuerda que si realizaste un pago la actualización en el
                sistema se da 1 día útil después del mismo.</p>
        </details>
        <details class="primary square">
            <summary>¿Cómo me registro o accedo a Mi Cuenta por primera vez?</summary>
            <p>Registrándote puedes acceder a la sección "Mi Cuenta" en donde podrás visualizar
                el historial de tus transacciones, status, fecha de vencimiento y pagos. Esta
                opción es válida para clientes que tienen un préstamo vigente o ya cancelado a
                la fecha.</p>
            <p>Para registrarte deberás seguir los siguientes pasos:</p>
            <ol>
                <li>
                    Haz clic en "Mi Cuenta" en la parte superior derecha (web o móvil).
                </li>
                <li>
                    Haz clic en "Regístrate".
                </li>
                <li>
                    Ingresa tu DNI y crea una clave que puedas recordar fácilmente.
                </li>
                <li>
                    Ingresa una clave que debe contener al menos 1 letra en mayúscula, 1 en
                    minúscula y un número. No puede contener caracteres especiales (como ‘$’ o
                    ‘@’). Tu clave debe tener al menos 6 caracteres.
                </li>
                <li>
                    Valida el campo "No soy un robot" y haz clic en "Guardar".
                </li>
                <li>
                    Ingresa el número de contrato de tu último préstamo solicitado con Andy.
                    Este número contiene dos partes separadas por un espacio que debes colocar
                    en ambas casillas.
                </li>
                <li>
                    Haz clic en "Validar".
                </li>
                <li>
                    Enviaremos un código PIN al celular que tenemos registrado según tu última
                    operación de préstamo con nosotros.
                </li>
                <li>
                    Haz clic en "Validar".
                </li>
                <li>
                    Listo! Te aparecerá un mensaje de registro exitoso.
                </li>
            </ol>
            <p>
                También puedes asociar tu cuenta con Facebook para que la siguiente vez no
                tengas que ingresar tu correo y clave. Para ello, haz clic en “Asociar Cuenta” a
                Facebook en la sección Perfil del Cliente.
            </p>
            <p>
                Si no puedes registrarte recuerda que puedes comunicarte con nosotros para
                apoyarte.</p>
        </details>
        <details class="primary square">
            <summary>¿Qué debo hacer si no puedo pagar una cuota?</summary>
            <p>Comunícate con nosotros en cuanto sepas que no vas a poder cumplir con el pago
                total de tu cuota para poder llegar a una solución conjunta. Recuerda que si no
                cumples con tus obligaciones financieras, se reflejará en tu historial
                crediticio pues serás reportado a Infocorp.</p>
        </details>
        <details class="primary square">
            <summary>¿Hay alguna ventaja por ser un buen pagador?</summary>
            <p>Sí. Aparte de mantener un buen historial crediticio, consideraremos tu historial
                de pagos para brindarte menores tasas de interés, mayores importes y mejores
                condiciones en tus siguientes préstamos. ¡Aprovéchalo!</p>
        </details>
        <details class="primary square">
            <summary>¿Qué pasa si no pago mi préstamo o alguna de las cuotas?</summary>
            <p>Recibirás unos días más para cancelarlo sujeto a una penalidad por pago tardío.
                Sin embargo, si después del plazo asignado no realizas el pago correspondiente,
                tu caso será enviado a una agencia de cobranza y serás reportado a Infocorp</p>
        </details>
        <details class="primary square">
            <summary>Si me negaron un préstamo, ¿cuándo puedo solicitar otro nuevamente?</summary>
            <p>Si tu solicitud fue rechazada, podrás esperar 30 días para solicitar uno
                nuevo.</p>
        </details>
        <details class="primary square">
            <summary>¿Por qué ha sido negada mi solicitud de préstamo?</summary>
            <p>Tu solicitud debe cumplir los requisitos exigidos por la política de préstamos
                interna, los cuales incluyen, entre muchas otras variables, tu perfil crediticio
                en las centrales de riesgo (Infocorp).</p>
        </details>
            
    </div>
</body>
</html>
