h5 {
    color: #0080FF;
    font-weight: normal;
    font-size: 20px;
    font-family: Arial;
    text-transform: lowercase;
  }

  .breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color:#EFF8FB;
    
  }

  .fa-minus-circle:hover {
    color: #0040FF;
}
 .fa-plus-circle:hover{
  color: #0040FF;
}

input{ 
  font-weight: bold;
  text-align: center;
 }
