<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>blogs</title>
</head>
<body>
    <div class="miga padding-top_35">
        <div class="container">
            <ol class="breadcrumb mb-5" >
                <section class="cnt-form-datos como-funciona">
                    <div class="bg__light bg-calculos">
                        <div class="container">
                            <div class="calculos-top">
                                <form class="modificar-credito modificar-datos " method="POST" action="#" >
                                    <input type="hidden" name="_token" value="baD9Z6W4lX9oS3e1kOawUKiWjZplebdXEmCSs9Fx">
                                    <div class="row">
                                        <div class="col-md-4 text-center">
                                            <h5 class="h6 text-light solicitado t-solici">¿Cuánto quieres?</h5>
                                            <div class="calculator">
                                                <a title="Disminuir monto" href="#" id="minus_cuanto_quieres"><i class="fas fa-minus-circle fa-1x"></i></a>
                                                <input readonly="" type="text" name="cuanto_quieres" id="cuanto_quieres" class="large"
                                                       value="">
                                                <a title="Aumentar monto" href="#" id="plus_cuanto_quieres"><i class="fas fa-plus-circle fa-1x"></i></a>
                                            </div>
                                        </div>
                
                                        <div class="col-md-4 text-center">
                                            <h5 class="h6 text-light solicitado t-intere">¿Cuántas cuotas?</h5>
                                            <div class="calculator">
                                                <a title="Disminuir una cuota" href="#" id="minus_como_pagas"><i class="fas fa-minus-circle fa-1x"></i></a>
                                                <input readonly="" class="large" name="nro_cuotas_sol" id="como_pagas" type="text"
                                                       value=""/>
                                                <a title="Aumentar una cuota" href="#" id="plus_como_pagas"><i class="fas fa-plus-circle fa-1x"></i></a>
                                            </div>
                                        </div>
                
                                        <div class="col-md-2 text-center">
                                            <div class="inner">
                                                <h3 id="texto_cuotas" class="h6 cuotas t-cuota">Cuota mensual</h3>
                                                <p>
                                                    <span class="monto">S/ </span><span class="monto cuota_monto"></span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-2 text-center ">
                                          <button  type="submit" class="btn btn-primary btn-lg  font-weight-bold colo"><span>¡Lo Quiero!</span></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="datos-calculos">
                                <p class="ast">Préstamo S/ <span id="resPrestamos"></span> <strong>+</strong> Intereses y Comisiones S/
                                    <span id="resInteres"></span> <strong>=</strong> Total a pagar S/ <span id="resTotal"></span><br>
                                    <strong>* Tasa Efectiva Mensual: </strong> <strong class="tem_int_com"></strong><strong>%</strong>.
                                    TCEA de <span class="valor tcea_sin_igv"></span>%+IGV y primer vencimiento
                                    el 17/03/2019 (lo podrás modificar más adelante).
                                    Desembolso en 1 hora durante <strong>horario de oficina.</strong></p>
                            </div>
                        </div>
                    </div>
                </section>
            </ol>
        </div>
    </div>

    <div class="miga padding-top_35">
        <div class="container">
            <ol class="breadcrumb">
                  <li class="active"><a title="Ir al inicio" href="inicio">Inicio /&nbsp;</a></li>
                  <li ><a title="Ir al blog" href="blog">Educación Financiera /&nbsp;</a></li>
                  <li class="active">Lista de Artículos</li>
            </ol>
        </div>
    </div>

    <div class="miga padding-top_35">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 ">
                    <font color="#0080FF"><h1 class="title-page"> &nbsp;Educación Financiera</h1></font>
                </div>
            </div>
            <ol class=" mb-5">
                <div class="card-deck">
                    <div class="card" >
                        <img src="assets/imagen/online.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Qu&eacute; debe tener una empresa que presta dinero &#039;online&#039;</h5>
                          <p class="card-text"> &iquest;Vas a solicitar un pr&eacute;stamo de dinero &#039;online&#039; y no sabes si la empresa que vas a usar es segura? Aqu&iacute; encontrar&aacute;s todos los aspectos legales.</p>
                          <a class="btn btn-outline-primary font-weight-bold" title="Qu&eacute; debe tener una empresa que presta dinero &#039;online&#039;"
                              href="que-debe-tener-una-empresa-que-presta-dinero-online">
                               <strong>Leer más</strong>
                         </a>
                                                </div>
                      </div>
                      <div class="card" >
                          <img src="assets/imagen/online1.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title  color="#0080FF>8 formas populares de ahorrar en viajes</h5>
                            <p class="card-text"> x-one, tu amigo financiero, te ense&ntilde;a 8 maneras de ahorrar en viajes, ya sea como turista o excursionista, muy recomendadas por viajeros frecuentes.</p>
                            <a class="btn btn-outline-primary font-weight-bold" title="8 formas populares de ahorrar en viajes"
                               href="#">
                               <strong>Leer más</strong>
                            </a>
                          </div>
                        </div>
                        <div class="card" >
                            <img src="assets/imagen/online3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">6 errores financieros que no cometer&aacute;s de nuevo</h5>
                              <p class="card-text">x-one te educa acerca de c&oacute;mo no incurrir en los siguientes errores financieros m&aacute;s frecuentes y que probablemente hayas cometido antes.</p>
                              <a class="btn btn-outline-primary font-weight-bold" title="6 errores financieros que no cometer&aacute;s de nuevo"
                                href="#">
                                  <strong>Leer más</strong>
                              </a>
                            </div>
                          </div>
                  </div>
                  <br>
                  <div class="card-deck">
                      <div class="card" >
                          <img src="assets/imagen/online.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Qu&eacute; debe tener una empresa que presta dinero &#039;online&#039;</h5>
                            <p class="card-text"> &iquest;Vas a solicitar un pr&eacute;stamo de dinero &#039;online&#039; y no sabes si la empresa que vas a usar es segura? Aqu&iacute; encontrar&aacute;s todos los aspectos legales.</p>
                            <a class="btn btn-outline-primary font-weight-bold" title="Qu&eacute; debe tener una empresa que presta dinero &#039;online&#039;"
                                href="#">
                                 <strong>Leer más</strong>
                           </a>
                                                  </div>
                        </div>
                        <div class="card" >
                            <img src="assets/imagen/online1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title  color="#0080FF>8 formas populares de ahorrar en viajes</h5>
                              <p class="card-text"> x-one, tu amigo financiero, te ense&ntilde;a 8 maneras de ahorrar en viajes, ya sea como turista o excursionista, muy recomendadas por viajeros frecuentes.</p>
                              <a class="btn btn-outline-primary font-weight-bold" title="8 formas populares de ahorrar en viajes"
                                 href="#">
                                 <strong>Leer más</strong>
                              </a>
                            </div>
                          </div>
                          <div class="card" >
                              <img src="assets/imagen/online3.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">6 errores financieros que no cometer&aacute;s de nuevo</h5>
                                <p class="card-text">x-one te educa acerca de c&oacute;mo no incurrir en los siguientes errores financieros m&aacute;s frecuentes y que probablemente hayas cometido antes.</p>
                                <a class="btn btn-outline-primary font-weight-bold" title="6 errores financieros que no cometer&aacute;s de nuevo"
                                  href="#">
                                    <strong>Leer más</strong>
                                </a>
                              </div>
                            </div>
                    </div>
            </ol>
        </div>
    </div>       
</body>
</html>