.red {      
    width: 200px;
    height: 200px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    background: #FFFFFF;    
    border: 2px solid #2E64FE;    
  }
  .breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color:#EFF8FB;
    
  }

  .fa-minus-circle:hover {
    color: #0040FF;
}
 .fa-plus-circle:hover{
  color: #0040FF;
}

input{ 
  font-weight: bold;
  text-align: center;
 }


