<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>como-funciona</title>
</head>
<body>
    <div class="miga padding-top_35">
        <div class="container">
            <ol class="breadcrumb mb-5" >
                <section class="cnt-form-datos como-funciona">
                    <div class="bg__light bg-calculos">
                        <div class="container">
                            <div class="calculos-top">
                                <form class="modificar-credito modificar-datos " method="POST" action="#" >
                                    <input type="hidden" name="_token" value="#">
                                    <div class="row">
                                        <div class="col-md-4 text-center">
                                            <h5 class="h6 cuotas t-cuota">¿Cuánto quieres?</h5>
                                            <div class="calculator">
                                                <a title="Disminuir monto"  id="minus_cuanto_quieres" (click)="Disminuir_monto()" ><span  style=" color: #2E64FE;"><i class="fas fa-minus-circle fa-1x"></i></span></a>
                                                <input readonly="" type="text" name="cuanto_quieres" id="cuanto_quieres" class="large"  [(ngModel)]="incrementar"
                                                       value="">
                                                <a title="Aumentar monto" id="plus_cuanto_quieres" (click)="Incrementar_monto()" ><span  style="color: #2E64FE;"><i class="fas fa-plus-circle fa-1x"></i></span></a>
                                            </div>
                                        </div>
                
                                        <div class="col-md-4 text-center">
                                            <h5 class="h6 cuotas t-cuota">¿Cuántas cuotas?</h5>
                                            <div class="calculator">
                                                <a title="Disminuir una cuota"  id="minus_como_pagas" (click)="Disminuir_cuotas()" ><samp  style="color: #2E64FE;"><i class="fas fa-minus-circle fa-1x"></i></samp></a>
                                                <input readonly="" class="large" name="nro_cuotas_sol" id="como_pagas" type="text" [(ngModel)]="como_pagas"
                                                       value=""/>
                                                <a title="Aumentar una cuota"  id="plus_como_pagas" (click)="Incrementar_cuotas()"><span  style="color: #2E64FE;"><i class="fas fa-plus-circle fa-1x"></i></span></a>
                                            </div>
                                        </div>
                
                                        <div class="col-md-2 text-center">
                                            <div class="inner">
                                                    <h3 id="texto_cuotas" class="h6 cuotas t-cuota">Cuota mensual</h3>
                                                    <h5><b>S/. {{monto_pagar}} </b></h5>
                                                    <p class="valor">*Valor referencial</p>
                                            </div>
                                        </div>
                                        <div class="col-md-2 text-center ">
                                          <button  type="submit" class="btn btn-primary btn-lg  font-weight-bold colo"><span>¡Lo Quiero!</span></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="datos-calculos">
                                    <p class="ast"><br>
                                        <strong>* Tasa Efectiva Mensual: </strong> <strong class="tem_int_com"></strong><strong>%</strong>.
                                        TCEA de <span class="valor tcea_sin_igv"></span>% y primer vencimiento
                                        el 17/03/2019 (lo podrás modificar más adelante).
                                        Desembolso en 1 hora durante <strong>horario de oficina.</strong></p>
                            </div>
                        </div>
                    </div>
                </section>
            </ol>
        </div>
    </div>

    <div class="miga padding-top_35">
        <div class="container">
            <ol class="breadcrumb mb-5">
                  <li><a title="Ir al inicio" href="inicio">Inicio /</a></li>
                  <li class="active">&nbsp;Cómo funciona</li>
            </ol>
        </div>
    </div>   
    
    <section class="home tres_pasos">
        <div class=" container sombra ">
            <div class="row">
                <div class="col-xs-12">
                    <font color="#0080FF"><h1 class="title-page">Nosotros</h1></font>
                </div>
            </div>
            <br>
            <div class="mb-50 text-center ">
                   <h2 class="h2 fw-10">Tu plata en <strong>3 simples pasos</strong></h2>
                   <p class="">Solo 3 pasos para solicitar tu préstamo en línea. Más rápido imposible</p>
                           </div>
                           <div class="row">
                               <div class="col-xs-12 col-md-4 padding-xs-bottom">
                                   <div class="icns center-block">
                                       <div class="red text-center">
                                               <span style="font-size: 125px; color:#2E64FE;">
                                                       <i class="far fa-money-bill-alt"></i>
                                                     </span>
                                       </div>
                                   </div>
                                   <div class="text text-center">
                                       <h3>
                                           Paso 1
                                           <br>
                                           <strong>Selecciona el importe</strong>
                                       </h3>
                                   </div>
                               </div>
                               <div class="col-xs-12 col-md-4 padding-xs-bottom">
                                   <div class="icns center-block">
                                       <div class="red text-center">
                                               <span style="font-size: 125px; color: #2E64FE;">
                                               <i class="far fa-file-alt"></i>
                                               </span>
                                       </div>
                                   </div>
                                   <div class="text text-center">
                                       <h3>
                                           Paso 2
                                           <br>
                                           <strong>Completa el formulario</strong>
                                       </h3>
                                   </div>
                               </div>
                               <div class="col-xs-12 col-md-4">
                                   <div class="icns center-block">
                                       <div class="red text-center">
                                               <span style="font-size: 125px; color:#2E64FE;">
                                                       <i class="far fa-clock"></i>
                                               </span>
                                       </div>
                                   </div>
                                   <div class="text text-center">
                                       <h3>
                                           Paso 3
                                           <br>
                                           <strong>Aprobamos tu préstamo</strong>
                                       </h3>
                                   </div>
                               </div>
                           </div>
                   </div>
          </section> 
          <br>
          <div class="miga padding-top_35">
              <div class="container">
                  <ol class="">
                      <mat-tab-group>
                          <mat-tab label="Solicitar un Préstamo"> 
                              <div class="inner">
                                   Solicitar un préstamo
                                  <ul class="list-punto">
                                      <li>Selecciona el importe y cuotas de acuerdo a tu necesidad financiera y
                                          capacidad de pago
                                      </li>
                                      <li>Completa el formulario con tus datos personales para proceder a evaluarte en
                                          línea
                                      </li>
                                      <li>Si tu préstamo es aprobado, lo firmas electrónicamente y se desembolsa en
                                          menos de 1 hora
                                      </li>
                                      <li>También podrás elegir la fecha de tu primer pago en caso la opción brindada
                                          no se adecue a tu flujo de ingresos.
                                      </li>
                                  </ul>
                                  <p>Una vez elegidos el importe, cuotas, y fechas de pago, enviaremos un PIN a tu
                                      teléfono celular. Al ingresar el PIN en el proceso final, estarás firmando
                                      electrónicamente el acuerdo y procederemos a desembolsar el préstamo.</p>
                                  <p>Los préstamos se desembolsan vía transferencia bancaria en cuentas Interbank,
                                      BBVA y BCP a nombre de la persona que aplica. Si no eres el titular de la
                                      cuenta, la transferencia NO será procesada.</p>
                              </div>  
                          </mat-tab>
                          <mat-tab label="Nuestras Ventajas">
                              <div class="inner">
                                  <h3>Nuestras Ventajas</h3>
                                  <ul class="list-punto">
                                      <li>Flexibilidad en opciones de montos y cuotas</li>
                                      <li>Evaluación crediticia y respuesta en segundos. Todo en línea</li>
                                      <li>Sin garantías, ni papeleos, ni visitas a agencias</li>
                                      <li>Desembolso directo en tu cuenta bancaria</li>
                                      <li>Menores tasas, mayores importes y más facilidades para clientes
                                          recurrentes
                                      </li>
                                      <li>Diversidad de opciones para el repago de tu préstamo</li>
                                      <li>Perfil personal con detalles de tus préstamos y aplicaciones</li>
                                  </ul>
                              </div>  
                          </mat-tab>
                          <mat-tab label="Formas de Repago"> 
                              <div class="inner">
                                  <h3>Formas de Repago</h3>
                                  <p>Puedes repagar tu préstamo en Interbank, BBVA Continental y BCP.</p>
                                  <p>En Interbank puedes pagar tu préstamo, <strong>sin comisión alguna</strong>, a
                                      través de su Banca por Internet (app y desktop), Agentes o Agencias (incluidas
                                      las que se ubican dentro de Plaza Vea y Vivanda):</p>
                                  <ul class="list-punto">
                                      <li>Banca por Internet: Pagos de Servicios o Recibos X-ONE. Luego ingresa el
                                          número de tu DNI.
                                      </li>
                                      <li>Agentes: Solo menciona que quieres pagar el Servicio o Recibo X-ONE (código
                                          2782601) y brinda tu número de DNI.
                                      </li>
                                      <li>Agencias: Solo menciona que quieres pagar el Servicio o Recibo X-ONE (código
                                          0782601) y brinda tu número de DNI.
                                      </li>
                                  </ul>
                                  <p>
                                      En BBVA Continental puedes pagar tu préstamo, <strong>sin comisión
                                          alguna</strong>, a través de su Banca por Internet (app y desktop), Agentes
                                      (incluido Kasnet) o Agencias:
                                  </p>
                                  <ul class="list-punto">
                                      <li>
                                          Banca por Internet: Pago de Servicios  Instituciones y Empresas -->
                                          ANDY-Latin. Luego ingresa el número de tu DNI.
                                      </li>
                                      <li>
                                          Agentes: Solo menciona que quieres pagar el Servicio X-ONE-Latin (código
                                          8940) y brinda tu número de DNI.
                                      </li>
                                      <li>
                                          Agencias: Solo menciona que quieres pagar el Servicio o Recibo X-ONE-Latin
                                          (código 8940) y brinda tu número de DNI.
                                      </li>
                                  </ul>
                                  <p>En BCP puedes pagar tu préstamo a través de ViaBCP (app y desktop) o también en
                                      cualquier Agencia:</p>
                                  <ul class="list-punto">
                                      <li>ViaBCP: Pagos y Transferencias  Pago de Servicios  Varios o Empresas
                                         X-ONE-Latin Fintech. Luego ingresa el número de tu DNI.
                                      </li>
                                      <li>Agencia BCP: Solo menciona que quieres pagar el servicio X-ONE-Latin Fintech
                                          y brinda tu número de DNI. <strong>Existe una comisión de S/3.60 por cada
                                              pago en agencia BCP.</strong></li>
                                  </ul>
                              </div>  
                          </mat-tab>
                        </mat-tab-group>
                  </ol>
              </div>
          </div>
          
        
</body>
</html>