<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
    <section class="home">
        <div class="container calculador sombra">
    <div class="clearfix">
        <div class="cabecera banner" align="center" >
            <img  src="assets/imagen/prestamos-online.jpeg"
                 title="Peruano Responsable, Sin papeleos, 100% online, Préstamo en 1 hora"
                 alt="Peruano Responsable, Sin papeleos, 100% online, Préstamo en 1 hora">
        </div>
        <hr>
        <div class="col-md-12 text-center mt-7 title">
            <h1 class="title-home">Préstamos en línea en <strong>1 hora</strong></h1>
            <p>Tu préstamo 100% en línea, rápido y desembolsado en tu cuenta en 1 hora</p>
            <h2 id="subtitle-home">Simula tu préstamo</h2>
            <p>Calcula el monto a devolver. 100% transparentes y sin letra chiquita</p>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <br>
        <section class="cnt-form-datos como-funciona">
            <div class="bg__light bg-calculos">
                <div class="container">
                    <div class="calculos-top">
                        <form class="modificar-credito modificar-datos " method="POST" action="#" >
                            <input type="hidden" name="_token" value="baD9Z6W4lX9oS3e1kOawUKiWjZplebdXEmCSs9Fx">
                            <div class="row">
                                <div class="col-md-4 text-center">
                                    <h5>¿Cuánto quieres?</h5>
                                    <div class="calculator">
                                        <a title="Disminuir monto"  id="minus_cuanto_quieres" (click)="Disminuir_monto()"><i class="fas fa-minus-circle fa-2x"></i></a>
                                        <input readonly="" type="number" name="cuanto_quieres" id="incrementar" [(ngModel)]="incrementar" class="large"
                                               value="" required>
                                        <a title="Aumentar monto"  id="plus_cuanto_quieres" (click)="Incrementar_monto()"><i class="fas fa-plus-circle fa-2x"></i></a>
                                    </div>
                                </div>
        
                                <div class="col-md-4 text-center">
                                    <h5 >¿Cuántas cuotas?</h5>
                                    <div class="calculator">
                                        <a title="Disminuir una cuota"  id="minus_como_pagas" (click)="Disminuir_cuotas()"><i class="fas fa-minus-circle fa-2x"></i></a>
                                        <input readonly="" class="" name="nro_cuotas_sol" id="como_pagas"  [(ngModel)]="como_pagas" type="text"
                                               value=""/>
                                        <a title="Aumentar una cuota"  id="plus_como_pagas" (click)="Incrementar_cuotas()"><i class="fas fa-plus-circle fa-2x"></i></a>
                                    </div>
                                </div>
        
                                <div class="col-md-2 text-center">
                                    <div class="inner">
                                        <h3 id="texto_cuotas" class="h6 cuotas t-cuota">Cuota mensual</h3>
                                        <h2><b>S/. {{monto_pagar}} </b></h2>
                                        <p class="valor">*Valor referencial</p>
                                        
                                    </div>
                                </div>
                                <div class="col-md-2 text-center ">
                                    <a class="btn btn-primary btn-lg  font-weight-bold color" href="solicitud/pasos"><span>¡Lo Quiero!</span></a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <br>
                   <br> 
                    <div class="datos-calculos">
                        <p class="ast">Préstamo S/ <span id="resPrestamos"></span> <strong>+</strong> Intereses y Comisiones S/
                            <span id="resInteres"></span> <strong>=</strong> Total a pagar S/ <span id="resTotal"></span><br>
                            <strong>* Tasa Efectiva Mensual: </strong> <strong class="tem_int_com"></strong><strong>%</strong>.
                            TCEA de <span class="valor tcea_sin_igv"></span>%+IGV y primer vencimiento
                            el 17/03/2019 (lo podrás modificar más adelante).
                            Desembolso en 1 hora durante <strong>horario de oficina.</strong></p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<br>
<br>

</section>  
<div class="miga padding-top_35">
    <div class="container">
        <ol class="breadcrumb mb-5" >
            <section class="home tres_pasos">
                 <div class=" container sombra ">
                     <div class="mb-50 text-center ">
                            <h2 class="h2 fw-10">Tu plata en <strong>3 simples pasos</strong></h2>
                            <p class="">Solo 3 pasos para solicitar tu préstamo en línea. Más rápido imposible</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-4 padding-xs-bottom">
                                            <div class="icns center-block">
                                                <div class="red text-center">
                                                        <span style="font-size: 125px; color:#2E64FE;">
                                                                <i class="far fa-money-bill-alt"></i>
                                                              </span>
                                                </div>
                                            </div>
                                            <div class="text text-center">
                                                <h4>
                                                    Paso 1
                                                    <br>
                                                    <strong>Selecciona el importe</strong>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4 padding-xs-bottom">
                                            <div class="icns center-block">
                                                <div class="red text-center">
                                                        <span style="font-size: 125px; color: #2E64FE;">
                                                        <i class="far fa-file-alt"></i>
                                                        </span>
                                                </div>
                                            </div>
                                            <div class="text text-center">
                                                <h3>
                                                    Paso 2
                                                    <br>
                                                    <strong>Completa el formulario</strong>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="icns center-block">
                                                <div class="red text-center">
                                                        <span style="font-size: 125px; color:#2E64FE;">
                                                                <i class="far fa-clock"></i>
                                                        </span>
                                                </div>
                                            </div>
                                            <div class="text text-center">
                                                <h3>
                                                    Paso 3
                                                    <br>
                                                    <strong>Aprobamos tu préstamo</strong>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                   </section> 
                </ol>
            </div>
    </div>
</body>
</html>